@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(./assets/Vector.png);
  background-position: top right;
  background-repeat: no-repeat;
  color: #202020;
  background-color: #f0f0f0;
}
